:root {
    --primary-color: #561c24;
    --primary-color-light: #561c249a;
    --primary-color-lighter: #561c2471;
    --secondary-color: #000;
    --accent-color: #8a1a07;

    --text-color: #000000;
    --text-color-light: #707070;
    --text-color-lighter: #4f5151;
    --text-color-white: #fbfcfb;

    --bg-color: #fff;
    --bg-color-light: #f0f0f0;
    --bg-color-lighter: #fcfcfc;
    --text-color-black: #000;

    --div-bg-color: #d9d9d9;

    --base-border-radius: 4px;
    --base-font-size: 14px;

    --x-padding: 120px;
  }

  html {
    height: 100vh;
    width: 100vw;
  }

  body,
  html {
    height: 100%;
    width: 100%;
    padding: 0px;
    margin: 0;
    background-color: var(--bg-color-lighter);
  }

  *,
  *::before,
  *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Inter, Arial, sans-serif;
  }

  .btn {
    border-radius: 4px;
    background-color: var(--primary-color);
    color: var(--text-color-white) !important;
    padding: 8px 20px;
    border: none;
    font-size: 12px;
  }

  .btn-light {
    background-color: var(--primary-color-light);
  }

  .btn:hover {
    opacity: 0.98;
    box-shadow: 1px 1px 0px 0px var(--secondary-color);
  }

  .link {
    text-decoration: none;
    color: var(--primary-color);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: var(--primary-color);
    font-weight: normal;
  }

  p,
  input,
  button {
    font-size: var(--base-font-size);
  }

  p {
    color: var(--text-color);
  }

  h1 {
    font-size: 40px;
    margin-bottom: 16px;
  }

  h2 {
    font-size: 35px;
  }

  h3 {
    font-size: 0.95em;
  }

  h4 {
    font-size: 0.59em;
  }

  h5 {
    font-size: 19px;
  }

  h6 {
    font-size: 12px;
  }

  /**** sections ***********************************/
  main {
    padding: 60px;
  }

  body > main > section,
  footer {
    padding: 50px var(--x-padding);
  }

  body > main > section h2 {
    text-align: center;
  }

  body > main > section h3 {
    text-align: center;
    margin-bottom: 16px;
  }

  section .titles {
    margin-bottom: 36px !important;
  }

  section .titles * {
    text-align: center;
  }

  section .titles h1 {
    font-weight: bold;
  }

  section .titles h3 {
    font-size: 16px;
  }

  .container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
/* insert image */
/* custom-styles.css */

/* Global Styles */



.custom-form {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}


h1 {
    text-align: center;
    color: #5f170b;
    font-size: 24px;
    margin-bottom: 20px;
}
.form-group {
    margin-bottom: 15px;
}


.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}


.form-group input[type="file"] {
    display: block;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: border-color 0.3s;
}

.form-group input[type="file"]:focus {
    border-color: #7d4324;
    outline: none;
}


.btn-submit {
    display: block;
    width: 100%;
    padding: 10px 0;
    background-color: #9f3419;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-submit:hover {
    background-color: #a3331a;
}

